<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Register the School</h4>
<div class="col-6">
    <form action="#" th:action="@{/schools/update/{id}(id=${school.id})}" th:object="${school}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" th:field="*{name}" placeholder="Name" id="name">
            <input class="form-control" type="text" th:field="*{maxNumberOfStudents}" placeholder="Max number of students" id="maxNumberOfStudents">
        </div>
        <button type="submit" class="btn btn-primary">Update School</button>
    </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>
